h1{
    text-align: center;
}

.container{
    width: 80vw;
    height: 80vh;
    background-color: blue;
}

.buttons{ 
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: auto;

}
button{    
    width: 10vw;
    height: 5vh;
}

